.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2em;
    margin-top: 2em;
    gap: 1em;
    min-height: max(20px, 1em);
}

.text {
    color: #666;
    font-size: max(16px, .8em);
}

.icon {
    font-family: 'material symbols rounded';
    font-size: 3em;
    color: #999;
    display: block;
}

/* Loading spinner */
.spinner {
    width: 16px;
    height: 16px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}