.header {
    padding: .25em .5em;
    user-select: none;
    border-bottom: 1px solid lightgray;
}

.header.header-sortable {
    cursor: pointer;
}

.header .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header * {
    flex-grow: 0;
}

.header .header-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 1em;
    text-align: left;
    font-weight: bold;
}

.header .header-sort,
.header .header-remove {
    font-family: 'material symbols rounded';
}

.header .header-remove {
    outline: none;
    appearance: none;
    border: none;
    background: none;
    border-radius: .5em;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
    color: rgba(50, 50, 50);
    box-sizing: border-box;
}

.header .header-remove:hover,
.header .header-remove:focus,
.header .header-remove:active {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .10);
    color: black;
}

.detail-table {
    font-size: .8em;
}

.detail-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: .25em 1em;
}