.locale-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1ch;
    position: relative;
    width: 100%;
}

.label {
    font-weight: normal;
    flex-grow: 1;
}

.trigger {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5ch;
    min-width: 12ch;
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.33rem;
    margin-left: -1rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 100%;
    width: max(100%, max-content);
    max-height: 20rem;
    overflow-y: auto;
    z-index: 1000;
}

.popup ul {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
}

.menu-item,
.menu-item-selected {
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-item-selected::after {
    font-family: 'material symbols rounded';
    content: 'check';
    font-size: 1.2em;
    color: mediumblue;
    width: 1.2em;
    position: absolute;
    left: .75em;
}

.dropdown-icon {
    font-family: 'material symbols rounded';
    font-size: 1.5rem;
    cursor: pointer;
}

.error {
    color: darkred;
}