.select-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1ch;
}

.select-filter select {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    flex-grow: 1;
    width: max-content;
}

.select-filter .label-skeleton {
    --w: 5ch;
    --r: .25em;
    --h: 1em;
}

.select-filter .control-skeleton {
    --w: 11ch;
    --r: .25em;
    --h: 1em;
}

.error {
    color: darkred;
}

.list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.list-item *:not(.remove-filter) {
    flex-grow: 1;
}

.remove-filter {
    margin-left: .5em;
    font-family: 'material symbols rounded';
    font-size: 1em;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    color: rgba(0, 0, 0, .70);
    border-radius: .25em;
}

.remove-filter:hover {
    background-color: rgba(0, 0, 0, .10);
    color: black;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 1;
}

.action-apply,
.action-reset {
    border: 1px solid rgba(0, 0, 0, .25);
    padding: .5em 2em;
    border-radius: .5em;
    outline: none;
    background: none;
    appearance: none;
    cursor: pointer;
    font: inherit;
    box-sizing: border-box;
    transition: background-color 250ms linear;
}

.action-reset {
    color: rgba(0, 0, 0, .70);
}

.action-reset:hover {
    background-color: rgba(0, 0, 0, .10);
    color: black;
}

.action-apply {
    color: rgba(255, 255, 255, .80);
    background-color: mediumblue;
    border-color: transparent;
}

.action-apply:hover {
    background-color: blue;
    color: white;
}

.action-apply:disabled {
    background-color: rgba(0, 0, 0, .5);
    border-color: transparent;
    color: rgba(0, 0, 0, .5);
    pointer-events: none;
}